.texty {
  position: fixed;

  /* width: 60%; */
  height: auto;
  /* float: right; */
  padding: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  top: 40%;
  left: 40%;
}

.email {
  text-align: center;
  font-size: 22px;
  color: #2f2235;
  margin-top: 5%;
  font-family: "Luxurious Roman";
  font-weight: bold;
}
